{% load telapp_extras %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Telegram Groups</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <style media="screen">
      table tr th:first-child{
        width:20px;
      }
      table tr th:last-child{
        width:110px;
      }
      .adduser{
        width:120px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Telegram Groups</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{% url 'apigen' %}">Generate Api Key</a>
          </li>
        </ul>

      </div>
    </nav>
    <div class="container-fluid" style="margin-top:20px">
      <div class="card bg-light">
        <div class="card-body">
          <h4 class="card-title">Group Users</h4>
          <hr/>
          <div class="card bg-light">
            <div class="card-body">
              <form action="" method="post">
                {% csrf_token %}
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="">Your Group</label>
                    <input type="text" class="form-control" required placeholder="Enter your group name" id="group1" name="group1" value="{{group1}}">
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="">Other Group</label>
                    <input type="text" class="form-control" required placeholder="Enter group name you want to add" id="group2" name="group2" value="{{group2}}">
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="">Mobile Number</label>
                    <select class="form-control" required name="mobile_no">
                      <option value="">Select</option>
                      {% for m in mobile %}
                        <option value="{{m}}">{{m}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <input type="submit" name="Search" id="search" style="margin-top:32px;" class="btn btn-primary" value="Search Members"/>
                </div>
              </div>
              </form>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6">
              <div class="card border-secondary">
                <div class="card-header bg-light">
                  <strong id="grp1">Group: {{group1}}</strong>
                </div>
                <div class="card-body" style="height:400px;overflow-x:auto">
                  <table id="grp1table" class="table">
                    <tr>
                      <th>SNo</th>
                      <th>Name</th>
                      <th>Last Active</th>
                    </tr>
                    {% for u in group1_client %}
                      <tr id="{{forloop.counter }}" class="users1">
                        <td>{{forloop.counter }}.</td>
                        <td style="width:50px !important;">{{u.first_name}}</td>
                        <td>
                          {{u.status|current_status}}
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="card-footer pagination_1">

                  <span style="font-size:16px" class="badge badge-dark" style="padding:3px">
                    <a style="font-size:16px" href="#grp1table" class="badge badge-light tleft bg-primary">Prev</a>
                    <span class="badge badge-light bg-light">
                      <span style="font-size:16px" class="pageno badge">1</span>
                    </span>
                    <a style="font-size:16px" href="#grp1table" class="badge badge-light tright bg-primary" >Next</a>
                  </span>
                  <span style="font-size:14px" id="grp1total" class="badge badge-dark" style="padding:3px"></span>

                </div>
              </div>

            </div>
            <div class="col-lg-6">
              <div class="card border-secondary">
                <div class="card-header bg-light">
                  <strong id="grp2">Group: {{group2}}</strong>
                </div>
                <div class="card-body" style="height:400px;overflow-x:auto">
                  <table id="grp2table" class="table addedUser">
                    <tr>
                      <th></th>
                      <th>SNo</th>
                      <th>Name</th>
                      <th>Last Active</th>
                      <th></th>
                    </tr>
                    {% for u in group2_client %}
                      <tr id="{{forloop.counter }}" class="users2">
                        <td>
                          <input type="checkbox" disabled="true" name="ouid id="ouid" value="{{u.id}}"/>
                        </td>
                        <td>{{forloop.counter }}.</td>
                        <td style="">{{u.first_name}}</td>
                        <td>
                          {{u.status|current_status}}
                        </td>
                        <td>
                          <button user="{{u.id}}" username="{{u.first_name}}" status="{{u.status|current_status}}" class="btn btn-info adduser">Add</button>
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="card-footer pagination_2">
                  <form method="POST" action="">
                  <span style="font-size:16px" class="badge badge-dark" style="padding:3px">
                    <a style="font-size:16px" href="#grp2table" class="badge badge-light tleft2 bg-primary">Prev</a>
                    <span class="badge badge-light bg-light">
                      <span style="font-size:16px" class="pageno2 badge">1</span>
                    </span>
                    <a style="font-size:16px" href="#grp2table" class="badge badge-light tright2 bg-primary">Next</a>
                  </span>
                  <span style="font-size:14px" id="grp2total" class="badge badge-dark" style="padding:3px"></span>

                    {% csrf_token %}
                    <input type="hidden" id="group2" name="group2" value="{{group2}}">
                    <input type="hidden" id="group1" name="group1" value="{{group1}}">
                    <input type="hidden" id="mobile_no1" name="mobile_no" value="{{mobile_no}}">
                    <button type="submit" style="margin-left:160px" class="btn btn-dark" style="padding:3px" name="all">Add all</button>
                  </form>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/static/main.js" charset="utf-8"></script>
  </body>
</html>
