{% load telapp_extras %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <style media="screen">
      table tr th:first-child{
        width:20px;
      }
      table tr th:last-child{
        width:110px;
      }
      .adduser{
        width:120px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Telegram Groups</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
        </ul>

      </div>
    </nav>
    <div class="container-fluid" style="margin-top:20px">
      <div class="card border-secondary">
        <div class="card-body">
          <h4 class="card-title">Group Users</h4>
          <hr/>
          <div class="card border-secondary">
            <div class="card-body">
              <form action="" method="post">
                {% csrf_token %}
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <label for="">Your Group</label>
                    <input type="text" class="form-control" placeholder="Enter your group name" id="group1" name="group1" value="{{group1}}">
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="form-group">
                    <label for="">Other Group</label>
                    <input type="text" class="form-control" placeholder="Enter group name you want to add" id="group2" name="group2" value="{{group2}}">
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <input type="submit" name="Search" id="search" style="margin-top:32px;" class="btn btn-primary" value="Search Members"/>
                </div>
              </div>
              </form>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-6">
              <div class="card border-secondary">
                <div class="card-header">
                  <strong id="grp1">Group: {{group1}}</strong>
                </div>
                <div class="card-body table" style="height:400px;overflow-x:auto">
                  <table id="grp1table">
                    <tr>
                      <th></th>
                      <th>SNo</th>
                      <th>Name</th>
                      <th>Last Active</th>
                      <th></th>
                    </tr>
                    {% for u in group1_client %}
                      <tr id="{{forloop.counter }}" class="users1">
                        <td>
                          <input type="checkbox" name="uid" id="uid" value="{{u.id}}"/>
                        </td>
                        <td>{{forloop.counter }}.</td>
                        <td style="width:50px !important;">{{u.first_name}}</td>
                        <td>
                          {{u.status|current_status}}
                        </td>
                        <td>
                          <button user="{{u.id}}" class="btn btn-secondary adduser">Add</button>
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="card-footer pagination_1">
                  <span style="font-size:16px" class="badge badge-dark" style="padding:3px">
                    <a style="font-size:16px" href="#grp1table" class="badge badge-light tleft bg-primary">Prev</a>
                    <span class="badge badge-light bg-light">
                      <span style="font-size:16px" class="pageno badge">1</span>
                    </span>
                    <a style="font-size:16px" href="#grp1table" class="badge badge-light tright bg-primary" >Next</a>
                  </span>
                  <span style="font-size:16px" id="grp1total" class="badge badge-dark" style="padding:3px"></span>
                </div>
              </div>
              <form method="POST" action="">
                {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Enter your group name" style="display: none;" id="group2" name="group2" value="{{group2}}">
                    <input type="text" class="form-control" placeholder="Enter your group name" style="display: none;" id="group1" name="group1" value="{{group1}}">
                                  <button type="submit" style="font-size:16px" id="grp1total" class="badge badge-dark" style="padding:3px" value="aSS" name="all">Add all</button>
                  </form>
            </div>
            <div class="col-lg-6">
              <div class="card border-secondary">
                <div class="card-header">
                  <strong id="grp2">Group: {{group2}}</strong>
                </div>
                <div class="card-body table" style="height:400px;overflow-x:auto">
                  <table id="grp2table" class="addedUser">
                    <tr>
                      <th></th>
                      <th>SNo</th>
                      <th>Name</th>
                      <th>Last Active</th>
                      <th></th>
                    </tr>
                    {% for u in group2_client %}
                      <tr id="{{forloop.counter }}" class="users2">
                        <td>
                          <input type="checkbox" name="ouid id="ouid" value="{{u.id}}"/>
                        </td>
                        <td>{{forloop.counter }}.</td>
                        <td style="">{{u.first_name}}</td>
                        <td>
                          {{u.status|current_status}}
                        </td>
                        <td>
                          <button user="{{u.id}}" class="btn btn-secondary adduser">Add</button>
                        </td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
                <div class="card-footer pagination_2">
                  <span style="font-size:16px" class="badge badge-dark" style="padding:3px">
                    <a style="font-size:16px" href="#grp2table" class="badge badge-light tleft2 bg-primary">Prev</a>
                    <span class="badge badge-light bg-light">
                      <span style="font-size:16px" class="pageno2 badge">1</span>
                    </span>
                    <a style="font-size:16px" href="#grp2table" class="badge badge-light tright2 bg-primary">Next</a>
                  </span>
                  <span style="font-size:16px" id="grp2total" class="badge badge-dark" style="padding:3px"></span>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/static/main.js" charset="utf-8"></script>
  </body>
</html>
